USE [XmlToSwift_Demo]
GO
/****** Object:  Schema [as]    Script Date: 06/09/2023 12:00:30 ******/
CREATE SCHEMA [as]
GO
/****** Object:  Schema [gen]    Script Date: 06/09/2023 12:00:30 ******/
CREATE SCHEMA [gen]
GO
/****** Object:  Schema [gmap]    Script Date: 06/09/2023 12:00:30 ******/
CREATE SCHEMA [gmap]
GO
/****** Object:  Schema [plan]    Script Date: 06/09/2023 12:00:30 ******/
CREATE SCHEMA [plan]
GO
/****** Object:  Schema [ref]    Script Date: 06/09/2023 12:00:30 ******/
CREATE SCHEMA [ref]
GO
/****** Object:  Schema [user]    Script Date: 06/09/2023 12:00:30 ******/
CREATE SCHEMA [user]
GO
/****** Object:  Table [as].[ACCOUNT_STATEMENT]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [as].[ACCOUNT_STATEMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_IMPORT] [int] NOT NULL,
	[ID_ACCOUNT] [int] NOT NULL,
	[ID_OPERATION_METHOD] [int] NOT NULL,
	[ID_OPERATION] [int] NOT NULL,
	[ID_OPERATION_DETAIL] [int] NOT NULL,
	[ID_OPERATION_TYPE] [int] NOT NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NOT NULL,
	[ID_MOVEMENT] [int] NOT NULL,
	[DATE_OPERATION] [datetime2](7) NULL,
	[LABEL_AS] [nvarchar](500) NULL,
	[REFERENCE] [nvarchar](50) NULL,
	[DATE_INTEGRATION] [datetime2](7) NULL,
	[AMOUNT_OPERATION] [float] NOT NULL,
	[DATE_IMPORT] [datetime2](7) NOT NULL,
	[ID_AS_IT] [int] NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [as].[ACCOUNT_STATEMENT_IMPORT]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [as].[ACCOUNT_STATEMENT_IMPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[ID_BANK_AGENCY] [int] NOT NULL,
	[FILE_IMPORT] [nvarchar](max) NULL,
	[DATE_IMPORT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT_IMPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [as].[ACCOUNT_STATEMENT_IMPORT_FILE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_IMPORT] [int] NOT NULL,
	[ID_ACCOUNT] [int] NULL,
	[DATE_OPERATION] [datetime2](7) NULL,
	[LABEL_AS] [nvarchar](500) NULL,
	[ID_OPERATION_METHOD] [int] NULL,
	[ID_OPERATION] [int] NULL,
	[ID_OPERATION_DETAIL] [int] NULL,
	[ID_OPERATION_TYPE] [int] NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NULL,
	[ID_MOVEMENT] [int] NULL,
	[ID_STATE] [int] NULL,
	[REFERENCE] [nvarchar](50) NULL,
	[DATE_INTEGRATION] [datetime2](7) NULL,
	[AMOUNT_OPERATION] [float] NULL,
	[DATE_IMPORT] [datetime2](7) NOT NULL,
	[LABEL_OPERATION_WORK] [nvarchar](500) NULL,
	[IS_DUPLICATED] [bit] NOT NULL,
	[OD_OPERATION_KEYWORD] [nvarchar](100) NULL,
	[OD_PLACE_KEYWORD] [nvarchar](100) NULL,
	[OD_OPERATION_LABEL] [nvarchar](100) NULL,
	[OD_PLACE_LABEL] [nvarchar](100) NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT_IMPORT_FILE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [as].[ACCOUNT_STATEMENT_PLAN]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [as].[ACCOUNT_STATEMENT_PLAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ACCOUNT_STATEMENT] [int] NOT NULL,
	[ID_PLAN] [int] NOT NULL,
 CONSTRAINT [PK_ACCOUNT_STATEMENT_PLAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [as].[OPERATION_TRANSVERSE_AS]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [as].[OPERATION_TRANSVERSE_AS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_TRANSVERSE] [int] NOT NULL,
	[ID_ACCOUNT_STATEMENT] [int] NOT NULL,
 CONSTRAINT [PK_OPERATION_TRANSVERSE_AS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [as].[OPERATION_TRANSVERSE_ASIF]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [as].[OPERATION_TRANSVERSE_ASIF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_TRANSVERSE] [int] NOT NULL,
	[ID_ACCOUNT_STATEMENT_IMPORT_FILE] [int] NOT NULL,
 CONSTRAINT [PK_OPERATION_TRANSVERSE_ASIF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsEvolutionDto_]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsEvolutionDto_](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [nvarchar](max) NULL,
	[Year] [int] NOT NULL,
	[Credit] [float] NOT NULL,
	[Debit] [float] NOT NULL,
	[Balance] [float] NOT NULL,
 CONSTRAINT [PK_AsEvolutionDto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaseChartData_]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseChartData_](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [nvarchar](max) NULL,
	[Year] [int] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_BaseChartData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SelectNameValueDto_]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectNameValueDto_](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Value] [float] NOT NULL,
 CONSTRAINT [PK_SelectNameValueDto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoldeDto_]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoldeDto_](
	[IdAccount] [int] NOT NULL,
	[Credit] [float] NOT NULL,
	[Debit] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[Solde] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [gen].[MONTH]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gen].[MONTH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER] [nvarchar](max) NULL,
	[LANGUAGE_CODE] [nvarchar](max) NULL,
	[LABEL_LONG] [nvarchar](max) NULL,
	[LABEL_SHORT] [nvarchar](max) NULL,
 CONSTRAINT [PK_MONTH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gen].[PARAMETER]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gen].[PARAMETER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMPORT_FILE_DIR] [nvarchar](100) NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_PARAMETER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_ADDRESS]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_ADDRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] [int] NOT NULL,
	[ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] [int] NOT NULL,
	[ID_GMAP_COUNTRY] [int] NOT NULL,
	[ID_GMAP_LOCALITY] [int] NOT NULL,
	[ID_GMAP_NEIGHBORHOOD] [int] NOT NULL,
	[ID_GMAP_POSTAL_CODE] [int] NOT NULL,
	[ID_GMAP_ROUTE] [int] NOT NULL,
	[ID_GMAP_STREET_NUMBER] [int] NOT NULL,
	[ID_GMAP_SUBLOCALITY_LEVEL_1] [int] NOT NULL,
	[ID_GMAP_SUBLOCALITY_LEVEL_2] [int] NOT NULL,
	[FORMATTED_ADDRESS] [nvarchar](max) NULL,
	[LAT] [float] NOT NULL,
	[LNG] [float] NOT NULL,
 CONSTRAINT [PK_GMAP_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_ADDRESS_TYPE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_ADDRESS_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GMAP_ADDRESS] [int] NOT NULL,
	[ID_GMAP_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_GMAP_ADDRESS_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_ADMINISTRATIVE_AREA_LEVEL_2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_COUNTRY]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_COUNTRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_LOCALITY]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_LOCALITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_LOCALITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_NEIGHBORHOOD]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_NEIGHBORHOOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_NEIGHBORHOOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_POSTAL_CODE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_POSTAL_CODE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_POSTAL_CODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_ROUTE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_ROUTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_ROUTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_STREET_NUMBER]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_STREET_NUMBER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_STREET_NUMBER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_SUBLOCALITY_LEVEL_1]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_SUBLOCALITY_LEVEL_1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_SUBLOCALITY_LEVEL_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_SUBLOCALITY_LEVEL_2]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_SUBLOCALITY_LEVEL_2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_SUBLOCALITY_LEVEL_2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_TYPE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KEYWORD] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GMAP_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [gmap].[GMAP_TYPE_LANGUAGE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gmap].[GMAP_TYPE_LANGUAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GMAP_TYPE] [int] NOT NULL,
	[LANGUAGE_CODE] [nvarchar](max) NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_GMAP_TYPE_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [plan].[PLAN]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[PLAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](100) NULL,
	[YEAR] [int] NOT NULL,
	[COLOR] [nvarchar](max) NULL,
 CONSTRAINT [PK_PLAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [plan].[PLAN_ACCOUNT]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[PLAN_ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN] [int] NOT NULL,
	[ID_ACCOUNT] [int] NOT NULL,
 CONSTRAINT [PK_PLAN_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [plan].[PLAN_POSTE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[PLAN_POSTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN] [int] NOT NULL,
	[ID_POSTE] [int] NOT NULL,
	[ID_REFERENCE_TABLE] [int] NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_PLAN_POSTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [plan].[PLAN_POSTE_FREQUENCY]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[PLAN_POSTE_FREQUENCY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_POSTE] [int] NOT NULL,
	[ID_FREQUENCY] [int] NOT NULL,
	[PREVIEW_AMOUNT] [float] NOT NULL,
 CONSTRAINT [PK_PLAN_POSTE_FREQUENCY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [plan].[PLAN_POSTE_REFERENCE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[PLAN_POSTE_REFERENCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_POSTE] [int] NOT NULL,
	[ID_REFERENCE_TABLE] [int] NOT NULL,
	[ID_REFERENCE] [int] NOT NULL,
 CONSTRAINT [PK_PLAN_POSTE_REFERENCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [plan].[PLAN_POSTE_USER]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[PLAN_POSTE_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_POSTE] [int] NOT NULL,
	[ID_PLAN_USER] [int] NOT NULL,
	[IS_SALARY_ESTIMATED_PART] [int] NOT NULL,
	[PERCENTAGE_PART] [float] NOT NULL,
 CONSTRAINT [PK_PLAN_POSTE_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [plan].[PLAN_USER]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[PLAN_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[ID_PLAN] [int] NOT NULL,
 CONSTRAINT [PK_PLAN_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [plan].[POSTE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[POSTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MOVEMENT] [int] NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_POSTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [plan].[REFERENCE_TABLE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[REFERENCE_TABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TABLE_NAME] [nvarchar](max) NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_REFERENCE_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [plan].[V_PLAN_GLOBAL_]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [plan].[V_PLAN_GLOBAL_](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ACCOUNT_STATEMENT] [int] NULL,
	[DATE_INTEGRATION] [datetime2](7) NULL,
	[AMOUNT_OPERATION] [float] NULL,
	[PREVIEW_AMOUNT] [float] NULL,
	[ID_PLAN] [int] NULL,
	[ID_PLAN_POSTE] [int] NULL,
	[PLAN_POSTE_LABEL] [nvarchar](max) NULL,
	[ID_POSTE] [int] NULL,
	[ID_REFERENCE] [int] NULL,
	[LABEL_REFERENCE] [nvarchar](max) NULL,
	[MONTH] [int] NULL,
	[YEAR] [int] NULL,
	[ID_ACCOUNT] [int] NULL,
	[ID_MOVEMENT] [int] NULL,
 CONSTRAINT [PK_V_PLAN_GLOBAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ref].[ACCOUNT]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER_OWNER] [int] NOT NULL,
	[ID_BANK_AGENCY] [int] NOT NULL,
	[ID_ACCOUNT_TYPE] [int] NOT NULL,
	[NUMBER] [nvarchar](50) NULL,
	[LABEL] [nvarchar](50) NULL,
	[START_AMOUNT] [float] NOT NULL,
	[ALERT_THRESHOLD] [float] NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[ACCOUNT_TYPE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[ACCOUNT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_ACCOUNT_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[ASSET]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[ASSET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PATH] [nvarchar](100) NULL,
	[LABEL] [nvarchar](max) NULL,
	[EXTENSION] [nvarchar](100) NULL,
	[ID_FAMILY] [int] NOT NULL,
 CONSTRAINT [PK_ASSET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ref].[BANK_AGENCY]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[BANK_AGENCY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BANK_SUB_FAMILY] [int] NOT NULL,
	[ID_GMAP_ADDRESS] [int] NOT NULL,
	[LABEL] [nvarchar](100) NULL,
 CONSTRAINT [PK_BANK_AGENCY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[BANK_FAMILY]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[BANK_FAMILY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ASSET] [int] NOT NULL,
	[CODE] [nvarchar](4) NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANK_FAMILY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[BANK_FILE_DEFINITION]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[BANK_FILE_DEFINITION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BANK_FAMILY] [int] NOT NULL,
	[LABEL_FIELD] [nvarchar](50) NULL,
	[LABEL_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_BANK_FILE_DEFINITION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[BANK_SUB_FAMILY]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[BANK_SUB_FAMILY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ASSET] [int] NOT NULL,
	[ID_BANK_FAMILY] [int] NOT NULL,
	[CODE] [nvarchar](10) NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANK_SUB_FAMILY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[MOVEMENT]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[MOVEMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_MOVEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[OPERATION]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[OPERATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_METHOD] [int] NOT NULL,
	[ID_OPERATION_TYPE] [int] NOT NULL,
	[LABEL] [nvarchar](255) NULL,
	[REFERENCE] [nvarchar](20) NULL,
	[ID_USER_GROUP] [int] NOT NULL,
	[IS_MANDATORY] [bit] NOT NULL,
 CONSTRAINT [PK_OPERATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[OPERATION_DETAIL]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[OPERATION_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION] [int] NOT NULL,
	[KEYWORD_OPERATION] [nvarchar](450) NULL,
	[KEYWORD_PLACE] [nvarchar](450) NULL,
	[OPERATION_LABEL] [nvarchar](max) NULL,
	[PLACE_LABEL] [nvarchar](max) NULL,
	[ID_GMAP_ADDRESS] [int] NULL,
	[ID_OPERATION_PLACE] [int] NOT NULL,
	[ID_USER_GROUP] [int] NOT NULL,
	[IS_MANDATORY] [bit] NOT NULL,
 CONSTRAINT [PK_OPERATION_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ref].[OPERATION_METHOD]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[OPERATION_METHOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](50) NULL,
 CONSTRAINT [PK_OPERATION_METHOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[OPERATION_METHOD_LEXICAL]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[OPERATION_METHOD_LEXICAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BANK_FAMILY] [int] NOT NULL,
	[ID_OPERATION_METHOD] [int] NOT NULL,
	[KEYWORD] [nvarchar](50) NULL,
	[ORDER_ID] [int] NOT NULL,
 CONSTRAINT [PK_OPERATION_METHOD_LEXICAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[OPERATION_METHOD_OTF]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[OPERATION_METHOD_OTF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_METHOD] [int] NOT NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NOT NULL,
 CONSTRAINT [PK_OPERATION_METHOD_OTF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[OPERATION_PLACE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[OPERATION_PLACE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](100) NULL,
	[CODE] [nvarchar](100) NULL,
 CONSTRAINT [PK_OPERATION_PLACE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[OPERATION_TRANSVERSE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[OPERATION_TRANSVERSE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[LABEL] [nvarchar](255) NULL,
 CONSTRAINT [PK_OPERATION_TRANSVERSE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[OPERATION_TYPE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[OPERATION_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NOT NULL,
	[LABEL] [nvarchar](50) NULL,
	[ID_USER_GROUP] [int] NOT NULL,
	[IS_MANDATORY] [bit] NOT NULL,
	[CODE] [nvarchar](4) NULL,
 CONSTRAINT [PK_OPERATION_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[OPERATION_TYPE_FAMILY]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[OPERATION_TYPE_FAMILY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MOVEMENT] [int] NOT NULL,
	[ID_ASSET] [int] NOT NULL,
	[LABEL] [nvarchar](50) NULL,
	[ID_USER_GROUP] [int] NOT NULL,
	[IS_MANDATORY] [bit] NOT NULL,
	[CODE] [nvarchar](4) NULL,
 CONSTRAINT [PK_OPERATION_TYPE_FAMILY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[STATE_ASIF]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[STATE_ASIF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [nvarchar](max) NULL,
 CONSTRAINT [PK_STATE_ASIF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [user].[USER]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER_PREFERENCE] [int] NULL,
	[ID_GMAP_ADDRESS] [int] NULL,
	[USER_NAME] [nvarchar](max) NULL,
	[LAST_NAME] [nvarchar](max) NULL,
	[FIRST_NAME] [nvarchar](max) NULL,
	[PASSWORD_HASH] [varbinary](max) NULL,
	[PASSWORD_SALT] [varbinary](max) NULL,
	[GENDER] [nvarchar](max) NULL,
	[BIRTH_DATE] [datetime2](7) NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[LAST_ACTIVE_DATE] [datetime2](7) NOT NULL,
	[ID_USER_GROUP] [int] NOT NULL,
	[MAIL_ADDRESS] [nvarchar](max) NULL,
	[ACTIVATION_CODE] [nvarchar](max) NULL,
	[ACTIVATION_DATE_SEND] [datetime2](7) NULL,
	[ACTIVATION_IS_CONFIRMED] [bit] NOT NULL,
	[ROLE] [nvarchar](max) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [user].[USER_ACCOUNT]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[USER_ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[ID_ACCOUNT] [int] NOT NULL,
	[ACTIVATION_CODE] [nvarchar](max) NULL,
 CONSTRAINT [PK_USER_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [user].[USER_CUSTOM_OTF]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[USER_CUSTOM_OTF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[ID_ACCOUNT] [int] NULL,
	[ID_OPERATION_TYPE_FAMILY] [int] NOT NULL,
 CONSTRAINT [PK_USER_CUSTOM_OTF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [user].[USER_MESSAGE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[USER_MESSAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[MESSAGE_FROM] [nvarchar](max) NULL,
	[MESSAGE_DATE_SENT] [datetime2](7) NOT NULL,
	[MESSAGE_SUBJECT] [nvarchar](max) NULL,
	[MESSAGE_BODY] [nvarchar](max) NULL,
	[IS_READ] [bit] NOT NULL,
 CONSTRAINT [PK_USER_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [user].[USER_PREFERENCE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[USER_PREFERENCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[THEME] [nvarchar](max) NULL,
	[SCHEME] [nvarchar](max) NULL,
	[LAYOUT] [nvarchar](max) NULL,
	[LANGUAGE] [nvarchar](max) NULL,
	[AVATAR_URL] [nvarchar](max) NULL,
	[BANNER_URL] [nvarchar](max) NULL,
	[STATUS] [nvarchar](max) NULL,
 CONSTRAINT [PK_USER_PREFERENCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [user].[USER_SHORTCUT]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user].[USER_SHORTCUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[TITLE] [nvarchar](max) NULL,
	[TYPE] [nvarchar](max) NULL,
	[ICON] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_USER_SHORTCUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [gen].[V_YEAR]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [gen].[V_YEAR] AS (
SELECT 
	YEAR(DATE_INTEGRATION) AS [YEAR]
FROM [as].ACCOUNT_STATEMENT
GROUP BY YEAR(DATE_INTEGRATION)
UNION
SELECT 
	YEAR(MIN(DATE_INTEGRATION))-1 AS [YEAR]
FROM [as].ACCOUNT_STATEMENT
UNION 
SELECT YEAR(MIN(DATE_INTEGRATION))+1 AS [YEAR]
FROM [as].ACCOUNT_STATEMENT
)
GO
/****** Object:  View [gen].[V_MONTH_YEAR]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [gen].[V_MONTH_YEAR] AS (
SELECT 
	M.NUMBER AS [MONTH],
	Y.[YEAR]
FROM gen.[MONTH] M 
CROSS JOIN [gen].V_YEAR Y
)
GO
/****** Object:  View [plan].[V_PLAN_OPERATION]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [plan].[V_PLAN_OPERATION] AS 

SELECT 
	ACS.ID AS ID_ACCOUNT_STATEMENT,
	ACS.ID_ACCOUNT,
	ACS.ID_MOVEMENT,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	COALESCE(ACS.AMOUNT_OPERATION,0) AS AMOUNT_OPERATION,
	OPERATION.PREVIEW_AMOUNT AS PREVIEW_AMOUNT,
	OPERATION.ID_PLAN as ID_PLAN,
	OPERATION.ID_PLAN_POSTE as ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL as PLAN_POSTE_LABEL,
	OPERATION.ID_POSTE as ID_POSTE,
	OPERATION.ID_REFERENCE as ID_REFERENCE,
	OPERATION.LABEL_REFERENCE as LABEL_REFERENCE,
	OPERATION.[MONTH] as [MONTH],
	OPERATION.[YEAR] as [YEAR]
FROM [as].ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PA.ID_ACCOUNT AS ID_ACCOUNT,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PP.ID_POSTE AS ID_POSTE,
	PPR.ID_REFERENCE,
	O.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [plan].[PLAN] P
 INNER JOIN [plan].PLAN_ACCOUNT PA
	ON P.ID=PA.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN [plan].REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN [ref].OPERATION O
	ON PPR.ID_REFERENCE=O.ID
 INNER JOIN [plan].[PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION'
) AS OPERATION
	--Si mois =13=(tous les mois), faire jointure auto sur le mois
	ON MONTH(ACS.DATE_INTEGRATION)=IIF(OPERATION.[MONTH]=13,MONTH(ACS.DATE_INTEGRATION),OPERATION.[MONTH])
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION=OPERATION.ID_REFERENCE
	AND ACS.ID_ACCOUNT = OPERATION.ID_ACCOUNT
GO
/****** Object:  View [plan].[V_PLAN_OPERATION_TYPE]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [plan].[V_PLAN_OPERATION_TYPE] AS 
SELECT 
	ACS.ID AS ID_ACCOUNT_STATEMENT,
	ACS.ID_ACCOUNT,
	ACS.ID_MOVEMENT,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	COALESCE(ACS.AMOUNT_OPERATION,0) AS AMOUNT_OPERATION,
	OPERATION.PREVIEW_AMOUNT AS PREVIEW_AMOUNT,
	OPERATION.ID_PLAN as ID_PLAN,
	OPERATION.ID_PLAN_POSTE as ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL as PLAN_POSTE_LABEL,
	OPERATION.ID_POSTE as ID_POSTE,
	OPERATION.ID_REFERENCE as ID_REFERENCE,
	OPERATION.LABEL_REFERENCE as LABEL_REFERENCE,
	OPERATION.[MONTH] as [MONTH],
	OPERATION.[YEAR] as [YEAR]
FROM [as].ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PA.ID_ACCOUNT AS ID_ACCOUNT,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PP.ID_POSTE AS ID_POSTE,
	PPR.ID_REFERENCE,
	OT.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [plan].[PLAN] P
 INNER JOIN [plan].PLAN_ACCOUNT PA
	ON P.ID=PA.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN [plan].REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN [ref].OPERATION_TYPE OT 
	ON PPR.ID_REFERENCE=OT.ID
 INNER JOIN [plan].[PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION_TYPE'
) AS OPERATION
	--Si mois =13 , faire jointure auto sur le mois
	ON MONTH(ACS.DATE_INTEGRATION)=IIF(OPERATION.[MONTH]=13,MONTH(ACS.DATE_INTEGRATION),OPERATION.[MONTH])
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION_TYPE=OPERATION.ID_REFERENCE
	AND ACS.ID_ACCOUNT = OPERATION.ID_ACCOUNT
GO
/****** Object:  View [plan].[V_PLAN_OPERATION_TYPE_FAMILY]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [plan].[V_PLAN_OPERATION_TYPE_FAMILY] AS 
SELECT 
	ACS.ID AS ID_ACCOUNT_STATEMENT,
	ACS.ID_ACCOUNT,
	ACS.ID_MOVEMENT,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	COALESCE(ACS.AMOUNT_OPERATION,0) AS AMOUNT_OPERATION,
	OPERATION.PREVIEW_AMOUNT AS PREVIEW_AMOUNT,
	OPERATION.ID_PLAN as ID_PLAN,
	OPERATION.ID_PLAN_POSTE as ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL as PLAN_POSTE_LABEL,
	OPERATION.ID_POSTE as ID_POSTE,
	OPERATION.ID_REFERENCE as ID_REFERENCE,
	OPERATION.LABEL_REFERENCE as LABEL_REFERENCE,
	OPERATION.[MONTH] as [MONTH],
	OPERATION.[YEAR] as [YEAR]
FROM [as].ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PA.ID_ACCOUNT AS ID_ACCOUNT,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PP.ID_POSTE AS ID_POSTE,
	PPR.ID_REFERENCE,
	OTF.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [plan].[PLAN] P
 INNER JOIN [plan].PLAN_ACCOUNT PA
	ON P.ID=PA.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN [plan].REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN [ref].OPERATION_TYPE_FAMILY OTF 
	ON PPR.ID_REFERENCE=OTF.ID
 INNER JOIN [plan].[PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION_TYPE_FAMILY'
) AS OPERATION
	--Si mois =13 , faire jointure auto sur le mois
	ON MONTH(ACS.DATE_INTEGRATION)=IIF(OPERATION.[MONTH]=13,MONTH(ACS.DATE_INTEGRATION),OPERATION.[MONTH])
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION_TYPE_FAMILY=OPERATION.ID_REFERENCE
	AND ACS.ID_ACCOUNT = OPERATION.ID_ACCOUNT
GO
/****** Object:  View [plan].[V_PLAN_GLOBAL]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	CREATE VIEW [plan].[V_PLAN_GLOBAL] AS 
	SELECT 
		CAST(ROW_NUMBER() OVER (ORDER BY ID_REFERENCE, [MONTH],[YEAR]) as INT) as ID,
		T.*
	FROM (
	SELECT * FROM [plan].V_PLAN_OPERATION
	UNION
	SELECT * FROM [plan].V_PLAN_OPERATION_TYPE
	UNION
	SELECT * FROM [plan].V_PLAN_OPERATION_TYPE_FAMILY
	) AS T

GO
/****** Object:  View [plan].[V_PLAN_OPERATION_1]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [plan].[V_PLAN_OPERATION_1] AS 
SELECT 
	ACS.ID AS ID_ACCOUNT_STATEMENT,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	ABS(COALESCE(ACS.AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION,
	ABS(OPERATION.PREVIEW_AMOUNT) AS PREVIEW_AMOUNT,
	OPERATION.ID_PLAN as ID_PLAN,
	OPERATION.ID_PLAN_POSTE as ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL as PLAN_POSTE_LABEL,
	OPERATION.ID_POSTE as ID_POSTE,
	OPERATION.ID_REFERENCE as ID_REFERENCE,
	OPERATION.LABEL_REFERENCE as LABEL_REFERENCE,
	OPERATION.[MONTH] as [MONTH],
	OPERATION.[YEAR] as [YEAR]
FROM [as].ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PP.ID_POSTE AS ID_POSTE,
	PPR.ID_REFERENCE,
	O.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [plan].[PLAN] P
 INNER JOIN [plan].PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN [plan].REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN [ref].OPERATION O
	ON PPR.ID_REFERENCE=O.ID
 INNER JOIN [plan].[PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION'
) AS OPERATION
	--Si mois =13 , faire jointure auto sur le mois
	ON MONTH(ACS.DATE_INTEGRATION)=IIF(OPERATION.[MONTH]=13,MONTH(ACS.DATE_INTEGRATION),OPERATION.[MONTH])
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION=OPERATION.ID_REFERENCE
GO
/****** Object:  View [plan].[V_PLAN_OPERATION_2]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [plan].[V_PLAN_OPERATION_2] AS 





SELECT 
	ACS.ID AS ID_ACCOUNT_STATEMENT,
	--ACS.ID_ACCOUNT,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	ABS(COALESCE(ACS.AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION,
	ABS(OPERATION.PREVIEW_AMOUNT) AS PREVIEW_AMOUNT,
	OPERATION.ID_PLAN as ID_PLAN,
	OPERATION.ID_PLAN_POSTE as ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL as PLAN_POSTE_LABEL,
	OPERATION.ID_POSTE as ID_POSTE,
	OPERATION.ID_REFERENCE as ID_REFERENCE,
	OPERATION.LABEL_REFERENCE as LABEL_REFERENCE,
	OPERATION.[MONTH] as [MONTH],
	OPERATION.[YEAR] as [YEAR]
FROM [as].ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PA.ID_ACCOUNT AS ID_ACCOUNT,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PP.ID_POSTE AS ID_POSTE,
	PPR.ID_REFERENCE,
	O.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [plan].[PLAN] P
 INNER JOIN [plan].PLAN_ACCOUNT PA
	ON P.ID=PA.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN [plan].REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN [ref].OPERATION O
	ON PPR.ID_REFERENCE=O.ID
 INNER JOIN [plan].[PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION'
) AS OPERATION
	--Si mois =13=(tous les mois), faire jointure auto sur le mois
	ON MONTH(ACS.DATE_INTEGRATION)=IIF(OPERATION.[MONTH]=13,MONTH(ACS.DATE_INTEGRATION),OPERATION.[MONTH])
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION=OPERATION.ID_REFERENCE
	AND ACS.ID_ACCOUNT = OPERATION.ID_ACCOUNT
GO
/****** Object:  View [plan].[V_PLAN_OPERATION_TYPE_1]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [plan].[V_PLAN_OPERATION_TYPE_1] AS 
SELECT 
	ACS.ID AS ID_ACCOUNT_STATEMENT,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	ABS(COALESCE(ACS.AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION,
	ABS(OPERATION.PREVIEW_AMOUNT) AS PREVIEW_AMOUNT,
	OPERATION.ID_PLAN as ID_PLAN,
	OPERATION.ID_PLAN_POSTE as ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL as PLAN_POSTE_LABEL,
	OPERATION.ID_POSTE as ID_POSTE,
	OPERATION.ID_REFERENCE as ID_REFERENCE,
	OPERATION.LABEL_REFERENCE as LABEL_REFERENCE,
	OPERATION.[MONTH] as [MONTH],
	OPERATION.[YEAR] as [YEAR]
FROM [as].ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PP.ID_POSTE AS ID_POSTE,
	PPR.ID_REFERENCE,
	OT.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	--U.FIRST_NAME,
	--PPU.PERCENTAGE_PART,
	--PPU.PERCENTAGE_PART * PPF.PREVIEW_AMOUNT / 100 AS PA,
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [plan].[PLAN] P
 INNER JOIN [plan].PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 --INNER JOIN PLAN_POSTE_USER PPU
	--ON PP.ID=PPU.ID_PLAN_POSTE
 --INNER JOIN PLAN_USER PU
	--ON PPU.ID_PLAN_USER=PU.ID
 --INNER JOIN [USER] U
	--ON PU.ID_USER = U.ID
 INNER JOIN [plan].PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN [plan].REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN [ref].OPERATION_TYPE OT 
	ON PPR.ID_REFERENCE=OT.ID
 INNER JOIN [plan].[PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION_TYPE'
) AS OPERATION
	--Si mois =13 , faire jointure auto sur le mois
	ON MONTH(ACS.DATE_INTEGRATION)=IIF(OPERATION.[MONTH]=13,MONTH(ACS.DATE_INTEGRATION),OPERATION.[MONTH])
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION_TYPE=OPERATION.ID_REFERENCE
GO
/****** Object:  View [plan].[V_PLAN_OPERATION_TYPE_2]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [plan].[V_PLAN_OPERATION_TYPE_2] AS 
SELECT 
	ACS.ID AS ID_ACCOUNT_STATEMENT,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	ABS(COALESCE(ACS.AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION,
	ABS(OPERATION.PREVIEW_AMOUNT) AS PREVIEW_AMOUNT,
	OPERATION.ID_PLAN as ID_PLAN,
	OPERATION.ID_PLAN_POSTE as ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL as PLAN_POSTE_LABEL,
	OPERATION.ID_POSTE as ID_POSTE,
	OPERATION.ID_REFERENCE as ID_REFERENCE,
	OPERATION.LABEL_REFERENCE as LABEL_REFERENCE,
	OPERATION.[MONTH] as [MONTH],
	OPERATION.[YEAR] as [YEAR]
FROM [as].ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PA.ID_ACCOUNT AS ID_ACCOUNT,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PP.ID_POSTE AS ID_POSTE,
	PPR.ID_REFERENCE,
	OT.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [plan].[PLAN] P
 INNER JOIN [plan].PLAN_ACCOUNT PA
	ON P.ID=PA.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN [plan].REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN [ref].OPERATION_TYPE OT 
	ON PPR.ID_REFERENCE=OT.ID
 INNER JOIN [plan].[PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION_TYPE'
) AS OPERATION
	--Si mois =13 , faire jointure auto sur le mois
	ON MONTH(ACS.DATE_INTEGRATION)=IIF(OPERATION.[MONTH]=13,MONTH(ACS.DATE_INTEGRATION),OPERATION.[MONTH])
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION_TYPE=OPERATION.ID_REFERENCE
	AND ACS.ID_ACCOUNT = OPERATION.ID_ACCOUNT
GO
/****** Object:  View [plan].[V_PLAN_OPERATION_TYPE_FAMILY_1]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [plan].[V_PLAN_OPERATION_TYPE_FAMILY_1] AS 
SELECT 
	ACS.ID AS ID_ACCOUNT_STATEMENT,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	ABS(COALESCE(ACS.AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION,
	ABS(OPERATION.PREVIEW_AMOUNT) AS PREVIEW_AMOUNT,
	OPERATION.ID_PLAN as ID_PLAN,
	OPERATION.ID_PLAN_POSTE as ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL as PLAN_POSTE_LABEL,
	OPERATION.ID_POSTE as ID_POSTE,
	OPERATION.ID_REFERENCE as ID_REFERENCE,
	OPERATION.LABEL_REFERENCE as LABEL_REFERENCE,
	OPERATION.[MONTH] as [MONTH],
	OPERATION.[YEAR] as [YEAR]
FROM [as].ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PP.ID_POSTE AS ID_POSTE,
	PPR.ID_REFERENCE,
	OTF.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	--U.FIRST_NAME,
	--PPU.PERCENTAGE_PART,
	--PPU.PERCENTAGE_PART * PPF.PREVIEW_AMOUNT / 100 AS PA,
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [plan].[PLAN] P
 INNER JOIN [plan].PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 --INNER JOIN PLAN_POSTE_USER PPU
	--ON PP.ID=PPU.ID_PLAN_POSTE
 --INNER JOIN PLAN_USER PU
	--ON PPU.ID_PLAN_USER=PU.ID
 --INNER JOIN [USER] U
	--ON PU.ID_USER = U.ID
 INNER JOIN [plan].PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN [plan].REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN [ref].OPERATION_TYPE_FAMILY OTF 
	ON PPR.ID_REFERENCE=OTF.ID
 INNER JOIN [plan].[PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION_TYPE_FAMILY'
) AS OPERATION
	--Si mois =13 , faire jointure auto sur le mois
	ON MONTH(ACS.DATE_INTEGRATION)=IIF(OPERATION.[MONTH]=13,MONTH(ACS.DATE_INTEGRATION),OPERATION.[MONTH])
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION_TYPE_FAMILY=OPERATION.ID_REFERENCE

GO
/****** Object:  View [plan].[V_PLAN_OPERATION_TYPE_FAMILY_2]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [plan].[V_PLAN_OPERATION_TYPE_FAMILY_2] AS 
SELECT 
	ACS.ID AS ID_ACCOUNT_STATEMENT,
	CAST(ACS.DATE_INTEGRATION AS DATE) AS DATE_INTEGRATION,
	ABS(COALESCE(ACS.AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION,
	ABS(OPERATION.PREVIEW_AMOUNT) AS PREVIEW_AMOUNT,
	OPERATION.ID_PLAN as ID_PLAN,
	OPERATION.ID_PLAN_POSTE as ID_PLAN_POSTE,
	OPERATION.PLAN_POSTE_LABEL as PLAN_POSTE_LABEL,
	OPERATION.ID_POSTE as ID_POSTE,
	OPERATION.ID_REFERENCE as ID_REFERENCE,
	OPERATION.LABEL_REFERENCE as LABEL_REFERENCE,
	OPERATION.[MONTH] as [MONTH],
	OPERATION.[YEAR] as [YEAR]
FROM [as].ACCOUNT_STATEMENT ACS
RIGHT JOIN (

 SELECT 
	P.ID AS ID_PLAN,
	PA.ID_ACCOUNT AS ID_ACCOUNT,
	PP.ID AS ID_PLAN_POSTE,
	PP.LABEL AS PLAN_POSTE_LABEL,
	PP.ID_POSTE AS ID_POSTE,
	PPR.ID_REFERENCE,
	OTF.LABEL AS LABEL_REFERENCE,
	PPF.ID_FREQUENCY AS [MONTH],
	P.[YEAR] AS [YEAR],
	PPF.PREVIEW_AMOUNT,
	RT.TABLE_NAME
 FROM [plan].[PLAN] P
 INNER JOIN [plan].PLAN_ACCOUNT PA
	ON P.ID=PA.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE PP
	ON P.ID=PP.ID_PLAN
 INNER JOIN [plan].PLAN_POSTE_REFERENCE PPR 
	ON PP.ID=PPR.ID_PLAN_POSTE
 INNER JOIN [plan].REFERENCE_TABLE RT
	ON PPR.ID_REFERENCE_TABLE=RT.ID
 INNER JOIN [ref].OPERATION_TYPE_FAMILY OTF 
	ON PPR.ID_REFERENCE=OTF.ID
 INNER JOIN [plan].[PLAN_POSTE_FREQUENCY] PPF
	ON PP.ID=PPF.ID_PLAN_POSTE
WHERE TABLE_NAME = 'OPERATION_TYPE_FAMILY'
) AS OPERATION
	--Si mois =13 , faire jointure auto sur le mois
	ON MONTH(ACS.DATE_INTEGRATION)=IIF(OPERATION.[MONTH]=13,MONTH(ACS.DATE_INTEGRATION),OPERATION.[MONTH])
	AND YEAR(ACS.DATE_INTEGRATION)=OPERATION.[YEAR]
	AND ACS.ID_OPERATION_TYPE_FAMILY=OPERATION.ID_REFERENCE
	AND ACS.ID_ACCOUNT = OPERATION.ID_ACCOUNT
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [ref].[ACCOUNT] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT] FOREIGN KEY([ID_IMPORT])
REFERENCES [as].[ACCOUNT_STATEMENT_IMPORT] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_MOVEMENT_ID_MOVEMENT] FOREIGN KEY([ID_MOVEMENT])
REFERENCES [ref].[MOVEMENT] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_MOVEMENT_ID_MOVEMENT]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_DETAIL_ID_OPERATION_DETAIL] FOREIGN KEY([ID_OPERATION_DETAIL])
REFERENCES [ref].[OPERATION_DETAIL] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_DETAIL_ID_OPERATION_DETAIL]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_ID_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [ref].[OPERATION] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_ID_OPERATION]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [ref].[OPERATION_METHOD] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY] FOREIGN KEY([ID_OPERATION_TYPE_FAMILY])
REFERENCES [ref].[OPERATION_TYPE_FAMILY] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_TYPE_ID_OPERATION_TYPE] FOREIGN KEY([ID_OPERATION_TYPE])
REFERENCES [ref].[OPERATION_TYPE] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_OPERATION_TYPE_ID_OPERATION_TYPE]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_BANK_AGENCY_ID_BANK_AGENCY] FOREIGN KEY([ID_BANK_AGENCY])
REFERENCES [ref].[BANK_AGENCY] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_BANK_AGENCY_ID_BANK_AGENCY]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [user].[USER] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_USER_ID_USER]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [ref].[ACCOUNT] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT] FOREIGN KEY([ID_IMPORT])
REFERENCES [as].[ACCOUNT_STATEMENT_IMPORT] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_ACCOUNT_STATEMENT_IMPORT_ID_IMPORT]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_MOVEMENT_ID_MOVEMENT] FOREIGN KEY([ID_MOVEMENT])
REFERENCES [ref].[MOVEMENT] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_MOVEMENT_ID_MOVEMENT]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_DETAIL_ID_OPERATION_DETAIL] FOREIGN KEY([ID_OPERATION_DETAIL])
REFERENCES [ref].[OPERATION_DETAIL] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_DETAIL_ID_OPERATION_DETAIL]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_ID_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [ref].[OPERATION] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_ID_OPERATION]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [ref].[OPERATION_METHOD] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY] FOREIGN KEY([ID_OPERATION_TYPE_FAMILY])
REFERENCES [ref].[OPERATION_TYPE_FAMILY] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_ID_OPERATION_TYPE] FOREIGN KEY([ID_OPERATION_TYPE])
REFERENCES [ref].[OPERATION_TYPE] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_OPERATION_TYPE_ID_OPERATION_TYPE]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_STATE_ASIF_ID_STATE] FOREIGN KEY([ID_STATE])
REFERENCES [ref].[STATE_ASIF] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_IMPORT_FILE] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_IMPORT_FILE_STATE_ASIF_ID_STATE]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_PLAN]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_PLAN_ACCOUNT_STATEMENT_ID_ACCOUNT_STATEMENT] FOREIGN KEY([ID_ACCOUNT_STATEMENT])
REFERENCES [as].[ACCOUNT_STATEMENT] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_PLAN] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_PLAN_ACCOUNT_STATEMENT_ID_ACCOUNT_STATEMENT]
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_PLAN]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STATEMENT_PLAN_PLAN_ID_PLAN] FOREIGN KEY([ID_PLAN])
REFERENCES [plan].[PLAN] ([ID])
GO
ALTER TABLE [as].[ACCOUNT_STATEMENT_PLAN] CHECK CONSTRAINT [FK_ACCOUNT_STATEMENT_PLAN_PLAN_ID_PLAN]
GO
ALTER TABLE [as].[OPERATION_TRANSVERSE_AS]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TRANSVERSE_AS_ACCOUNT_STATEMENT_ID_ACCOUNT_STATEMENT] FOREIGN KEY([ID_ACCOUNT_STATEMENT])
REFERENCES [as].[ACCOUNT_STATEMENT] ([ID])
GO
ALTER TABLE [as].[OPERATION_TRANSVERSE_AS] CHECK CONSTRAINT [FK_OPERATION_TRANSVERSE_AS_ACCOUNT_STATEMENT_ID_ACCOUNT_STATEMENT]
GO
ALTER TABLE [as].[OPERATION_TRANSVERSE_AS]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TRANSVERSE_AS_OPERATION_TRANSVERSE_ID_OPERATION_TRANSVERSE] FOREIGN KEY([ID_OPERATION_TRANSVERSE])
REFERENCES [ref].[OPERATION_TRANSVERSE] ([ID])
GO
ALTER TABLE [as].[OPERATION_TRANSVERSE_AS] CHECK CONSTRAINT [FK_OPERATION_TRANSVERSE_AS_OPERATION_TRANSVERSE_ID_OPERATION_TRANSVERSE]
GO
ALTER TABLE [as].[OPERATION_TRANSVERSE_ASIF]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TRANSVERSE_ASIF_ACCOUNT_STATEMENT_IMPORT_FILE_ID_ACCOUNT_STATEMENT_IMPORT_FILE] FOREIGN KEY([ID_ACCOUNT_STATEMENT_IMPORT_FILE])
REFERENCES [as].[ACCOUNT_STATEMENT_IMPORT_FILE] ([ID])
GO
ALTER TABLE [as].[OPERATION_TRANSVERSE_ASIF] CHECK CONSTRAINT [FK_OPERATION_TRANSVERSE_ASIF_ACCOUNT_STATEMENT_IMPORT_FILE_ID_ACCOUNT_STATEMENT_IMPORT_FILE]
GO
ALTER TABLE [as].[OPERATION_TRANSVERSE_ASIF]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TRANSVERSE_ASIF_OPERATION_TRANSVERSE_ID_OPERATION_TRANSVERSE] FOREIGN KEY([ID_OPERATION_TRANSVERSE])
REFERENCES [ref].[OPERATION_TRANSVERSE] ([ID])
GO
ALTER TABLE [as].[OPERATION_TRANSVERSE_ASIF] CHECK CONSTRAINT [FK_OPERATION_TRANSVERSE_ASIF_OPERATION_TRANSVERSE_ID_OPERATION_TRANSVERSE]
GO
ALTER TABLE [gen].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETER_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [user].[USER] ([ID])
GO
ALTER TABLE [gen].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETER_USER_ID_USER]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_1_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] FOREIGN KEY([ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1])
REFERENCES [gmap].[GMAP_ADMINISTRATIVE_AREA_LEVEL_1] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_1_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_2_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1] FOREIGN KEY([ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1])
REFERENCES [gmap].[GMAP_ADMINISTRATIVE_AREA_LEVEL_2] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ADMINISTRATIVE_AREA_LEVEL_2_ID_GMAP_ADMINISTRATIVE_AREA_LEVEL_1]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_COUNTRY_ID_GMAP_COUNTRY] FOREIGN KEY([ID_GMAP_COUNTRY])
REFERENCES [gmap].[GMAP_COUNTRY] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_COUNTRY_ID_GMAP_COUNTRY]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_LOCALITY_ID_GMAP_LOCALITY] FOREIGN KEY([ID_GMAP_LOCALITY])
REFERENCES [gmap].[GMAP_LOCALITY] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_LOCALITY_ID_GMAP_LOCALITY]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_NEIGHBORHOOD_ID_GMAP_NEIGHBORHOOD] FOREIGN KEY([ID_GMAP_NEIGHBORHOOD])
REFERENCES [gmap].[GMAP_NEIGHBORHOOD] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_NEIGHBORHOOD_ID_GMAP_NEIGHBORHOOD]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_POSTAL_CODE_ID_GMAP_POSTAL_CODE] FOREIGN KEY([ID_GMAP_POSTAL_CODE])
REFERENCES [gmap].[GMAP_POSTAL_CODE] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_POSTAL_CODE_ID_GMAP_POSTAL_CODE]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ROUTE_ID_GMAP_ROUTE] FOREIGN KEY([ID_GMAP_ROUTE])
REFERENCES [gmap].[GMAP_ROUTE] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_ROUTE_ID_GMAP_ROUTE]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_STREET_NUMBER_ID_GMAP_STREET_NUMBER] FOREIGN KEY([ID_GMAP_STREET_NUMBER])
REFERENCES [gmap].[GMAP_STREET_NUMBER] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_STREET_NUMBER_ID_GMAP_STREET_NUMBER]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_1_ID_GMAP_SUBLOCALITY_LEVEL_1] FOREIGN KEY([ID_GMAP_SUBLOCALITY_LEVEL_1])
REFERENCES [gmap].[GMAP_SUBLOCALITY_LEVEL_1] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_1_ID_GMAP_SUBLOCALITY_LEVEL_1]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_2_ID_GMAP_SUBLOCALITY_LEVEL_2] FOREIGN KEY([ID_GMAP_SUBLOCALITY_LEVEL_2])
REFERENCES [gmap].[GMAP_SUBLOCALITY_LEVEL_2] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS] CHECK CONSTRAINT [FK_GMAP_ADDRESS_GMAP_SUBLOCALITY_LEVEL_2_ID_GMAP_SUBLOCALITY_LEVEL_2]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [gmap].[GMAP_ADDRESS] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS_TYPE] CHECK CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [gmap].[GMAP_ADDRESS_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_TYPE_ID_GMAP_TYPE] FOREIGN KEY([ID_GMAP_TYPE])
REFERENCES [gmap].[GMAP_TYPE] ([ID])
GO
ALTER TABLE [gmap].[GMAP_ADDRESS_TYPE] CHECK CONSTRAINT [FK_GMAP_ADDRESS_TYPE_GMAP_TYPE_ID_GMAP_TYPE]
GO
ALTER TABLE [gmap].[GMAP_TYPE_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_GMAP_TYPE_LANGUAGE_GMAP_TYPE_ID_GMAP_TYPE] FOREIGN KEY([ID_GMAP_TYPE])
REFERENCES [gmap].[GMAP_TYPE] ([ID])
GO
ALTER TABLE [gmap].[GMAP_TYPE_LANGUAGE] CHECK CONSTRAINT [FK_GMAP_TYPE_LANGUAGE_GMAP_TYPE_ID_GMAP_TYPE]
GO
ALTER TABLE [plan].[PLAN_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_ACCOUNT_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [ref].[ACCOUNT] ([ID])
GO
ALTER TABLE [plan].[PLAN_ACCOUNT] CHECK CONSTRAINT [FK_PLAN_ACCOUNT_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [plan].[PLAN_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_ACCOUNT_PLAN_ID_PLAN] FOREIGN KEY([ID_PLAN])
REFERENCES [plan].[PLAN] ([ID])
GO
ALTER TABLE [plan].[PLAN_ACCOUNT] CHECK CONSTRAINT [FK_PLAN_ACCOUNT_PLAN_ID_PLAN]
GO
ALTER TABLE [plan].[PLAN_POSTE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_PLAN_ID_PLAN] FOREIGN KEY([ID_PLAN])
REFERENCES [plan].[PLAN] ([ID])
GO
ALTER TABLE [plan].[PLAN_POSTE] CHECK CONSTRAINT [FK_PLAN_POSTE_PLAN_ID_PLAN]
GO
ALTER TABLE [plan].[PLAN_POSTE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_POSTE_ID_POSTE] FOREIGN KEY([ID_POSTE])
REFERENCES [plan].[POSTE] ([ID])
GO
ALTER TABLE [plan].[PLAN_POSTE] CHECK CONSTRAINT [FK_PLAN_POSTE_POSTE_ID_POSTE]
GO
ALTER TABLE [plan].[PLAN_POSTE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_REFERENCE_TABLE_ID_REFERENCE_TABLE] FOREIGN KEY([ID_REFERENCE_TABLE])
REFERENCES [plan].[REFERENCE_TABLE] ([ID])
GO
ALTER TABLE [plan].[PLAN_POSTE] CHECK CONSTRAINT [FK_PLAN_POSTE_REFERENCE_TABLE_ID_REFERENCE_TABLE]
GO
ALTER TABLE [plan].[PLAN_POSTE_FREQUENCY]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_FREQUENCY_MONTH_ID_FREQUENCY] FOREIGN KEY([ID_FREQUENCY])
REFERENCES [gen].[MONTH] ([ID])
GO
ALTER TABLE [plan].[PLAN_POSTE_FREQUENCY] CHECK CONSTRAINT [FK_PLAN_POSTE_FREQUENCY_MONTH_ID_FREQUENCY]
GO
ALTER TABLE [plan].[PLAN_POSTE_FREQUENCY]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_FREQUENCY_PLAN_POSTE_ID_PLAN_POSTE] FOREIGN KEY([ID_PLAN_POSTE])
REFERENCES [plan].[PLAN_POSTE] ([ID])
GO
ALTER TABLE [plan].[PLAN_POSTE_FREQUENCY] CHECK CONSTRAINT [FK_PLAN_POSTE_FREQUENCY_PLAN_POSTE_ID_PLAN_POSTE]
GO
ALTER TABLE [plan].[PLAN_POSTE_REFERENCE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_REFERENCE_PLAN_POSTE_ID_PLAN_POSTE] FOREIGN KEY([ID_PLAN_POSTE])
REFERENCES [plan].[PLAN_POSTE] ([ID])
GO
ALTER TABLE [plan].[PLAN_POSTE_REFERENCE] CHECK CONSTRAINT [FK_PLAN_POSTE_REFERENCE_PLAN_POSTE_ID_PLAN_POSTE]
GO
ALTER TABLE [plan].[PLAN_POSTE_REFERENCE]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_REFERENCE_REFERENCE_TABLE_ID_REFERENCE_TABLE] FOREIGN KEY([ID_REFERENCE_TABLE])
REFERENCES [plan].[REFERENCE_TABLE] ([ID])
GO
ALTER TABLE [plan].[PLAN_POSTE_REFERENCE] CHECK CONSTRAINT [FK_PLAN_POSTE_REFERENCE_REFERENCE_TABLE_ID_REFERENCE_TABLE]
GO
ALTER TABLE [plan].[PLAN_POSTE_USER]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_USER_PLAN_POSTE_ID_PLAN_POSTE] FOREIGN KEY([ID_PLAN_POSTE])
REFERENCES [plan].[PLAN_POSTE] ([ID])
GO
ALTER TABLE [plan].[PLAN_POSTE_USER] CHECK CONSTRAINT [FK_PLAN_POSTE_USER_PLAN_POSTE_ID_PLAN_POSTE]
GO
ALTER TABLE [plan].[PLAN_POSTE_USER]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_POSTE_USER_PLAN_USER_ID_PLAN_USER] FOREIGN KEY([ID_PLAN_USER])
REFERENCES [plan].[PLAN_USER] ([ID])
GO
ALTER TABLE [plan].[PLAN_POSTE_USER] CHECK CONSTRAINT [FK_PLAN_POSTE_USER_PLAN_USER_ID_PLAN_USER]
GO
ALTER TABLE [plan].[PLAN_USER]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_USER_PLAN_ID_PLAN] FOREIGN KEY([ID_PLAN])
REFERENCES [plan].[PLAN] ([ID])
GO
ALTER TABLE [plan].[PLAN_USER] CHECK CONSTRAINT [FK_PLAN_USER_PLAN_ID_PLAN]
GO
ALTER TABLE [plan].[PLAN_USER]  WITH CHECK ADD  CONSTRAINT [FK_PLAN_USER_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [user].[USER] ([ID])
GO
ALTER TABLE [plan].[PLAN_USER] CHECK CONSTRAINT [FK_PLAN_USER_USER_ID_USER]
GO
ALTER TABLE [plan].[POSTE]  WITH CHECK ADD  CONSTRAINT [FK_POSTE_MOVEMENT_ID_MOVEMENT] FOREIGN KEY([ID_MOVEMENT])
REFERENCES [ref].[MOVEMENT] ([ID])
GO
ALTER TABLE [plan].[POSTE] CHECK CONSTRAINT [FK_POSTE_MOVEMENT_ID_MOVEMENT]
GO
ALTER TABLE [ref].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_ACCOUNT_TYPE_ID_ACCOUNT_TYPE] FOREIGN KEY([ID_ACCOUNT_TYPE])
REFERENCES [ref].[ACCOUNT_TYPE] ([ID])
GO
ALTER TABLE [ref].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_ACCOUNT_TYPE_ID_ACCOUNT_TYPE]
GO
ALTER TABLE [ref].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_BANK_AGENCY_ID_BANK_AGENCY] FOREIGN KEY([ID_BANK_AGENCY])
REFERENCES [ref].[BANK_AGENCY] ([ID])
GO
ALTER TABLE [ref].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_BANK_AGENCY_ID_BANK_AGENCY]
GO
ALTER TABLE [ref].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_USER_ID_USER_OWNER] FOREIGN KEY([ID_USER_OWNER])
REFERENCES [user].[USER] ([ID])
GO
ALTER TABLE [ref].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_USER_ID_USER_OWNER]
GO
ALTER TABLE [ref].[BANK_AGENCY]  WITH CHECK ADD  CONSTRAINT [FK_BANK_AGENCY_BANK_SUB_FAMILY_ID_BANK_SUB_FAMILY] FOREIGN KEY([ID_BANK_SUB_FAMILY])
REFERENCES [ref].[BANK_SUB_FAMILY] ([ID])
GO
ALTER TABLE [ref].[BANK_AGENCY] CHECK CONSTRAINT [FK_BANK_AGENCY_BANK_SUB_FAMILY_ID_BANK_SUB_FAMILY]
GO
ALTER TABLE [ref].[BANK_AGENCY]  WITH CHECK ADD  CONSTRAINT [FK_BANK_AGENCY_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [gmap].[GMAP_ADDRESS] ([ID])
GO
ALTER TABLE [ref].[BANK_AGENCY] CHECK CONSTRAINT [FK_BANK_AGENCY_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [ref].[BANK_FAMILY]  WITH CHECK ADD  CONSTRAINT [FK_BANK_FAMILY_ASSET_ID_ASSET] FOREIGN KEY([ID_ASSET])
REFERENCES [ref].[ASSET] ([ID])
GO
ALTER TABLE [ref].[BANK_FAMILY] CHECK CONSTRAINT [FK_BANK_FAMILY_ASSET_ID_ASSET]
GO
ALTER TABLE [ref].[BANK_FILE_DEFINITION]  WITH CHECK ADD  CONSTRAINT [FK_BANK_FILE_DEFINITION_BANK_FAMILY_ID_BANK_FAMILY] FOREIGN KEY([ID_BANK_FAMILY])
REFERENCES [ref].[BANK_FAMILY] ([ID])
GO
ALTER TABLE [ref].[BANK_FILE_DEFINITION] CHECK CONSTRAINT [FK_BANK_FILE_DEFINITION_BANK_FAMILY_ID_BANK_FAMILY]
GO
ALTER TABLE [ref].[BANK_SUB_FAMILY]  WITH CHECK ADD  CONSTRAINT [FK_BANK_SUB_FAMILY_ASSET_ID_ASSET] FOREIGN KEY([ID_ASSET])
REFERENCES [ref].[ASSET] ([ID])
GO
ALTER TABLE [ref].[BANK_SUB_FAMILY] CHECK CONSTRAINT [FK_BANK_SUB_FAMILY_ASSET_ID_ASSET]
GO
ALTER TABLE [ref].[BANK_SUB_FAMILY]  WITH CHECK ADD  CONSTRAINT [FK_BANK_SUB_FAMILY_BANK_FAMILY_ID_BANK_FAMILY] FOREIGN KEY([ID_BANK_FAMILY])
REFERENCES [ref].[BANK_FAMILY] ([ID])
GO
ALTER TABLE [ref].[BANK_SUB_FAMILY] CHECK CONSTRAINT [FK_BANK_SUB_FAMILY_BANK_FAMILY_ID_BANK_FAMILY]
GO
ALTER TABLE [ref].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [ref].[OPERATION_METHOD] ([ID])
GO
ALTER TABLE [ref].[OPERATION] CHECK CONSTRAINT [FK_OPERATION_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [ref].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_OPERATION_TYPE_ID_OPERATION_TYPE] FOREIGN KEY([ID_OPERATION_TYPE])
REFERENCES [ref].[OPERATION_TYPE] ([ID])
GO
ALTER TABLE [ref].[OPERATION] CHECK CONSTRAINT [FK_OPERATION_OPERATION_TYPE_ID_OPERATION_TYPE]
GO
ALTER TABLE [ref].[OPERATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_DETAIL_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [gmap].[GMAP_ADDRESS] ([ID])
GO
ALTER TABLE [ref].[OPERATION_DETAIL] CHECK CONSTRAINT [FK_OPERATION_DETAIL_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [ref].[OPERATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_DETAIL_OPERATION_ID_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [ref].[OPERATION] ([ID])
GO
ALTER TABLE [ref].[OPERATION_DETAIL] CHECK CONSTRAINT [FK_OPERATION_DETAIL_OPERATION_ID_OPERATION]
GO
ALTER TABLE [ref].[OPERATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_DETAIL_OPERATION_PLACE_ID_OPERATION_PLACE] FOREIGN KEY([ID_OPERATION_PLACE])
REFERENCES [ref].[OPERATION_PLACE] ([ID])
GO
ALTER TABLE [ref].[OPERATION_DETAIL] CHECK CONSTRAINT [FK_OPERATION_DETAIL_OPERATION_PLACE_ID_OPERATION_PLACE]
GO
ALTER TABLE [ref].[OPERATION_METHOD_LEXICAL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_BANK_FAMILY_ID_BANK_FAMILY] FOREIGN KEY([ID_BANK_FAMILY])
REFERENCES [ref].[BANK_FAMILY] ([ID])
GO
ALTER TABLE [ref].[OPERATION_METHOD_LEXICAL] CHECK CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_BANK_FAMILY_ID_BANK_FAMILY]
GO
ALTER TABLE [ref].[OPERATION_METHOD_LEXICAL]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [ref].[OPERATION_METHOD] ([ID])
GO
ALTER TABLE [ref].[OPERATION_METHOD_LEXICAL] CHECK CONSTRAINT [FK_OPERATION_METHOD_LEXICAL_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [ref].[OPERATION_METHOD_OTF]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_METHOD_OTF_OPERATION_METHOD_ID_OPERATION_METHOD] FOREIGN KEY([ID_OPERATION_METHOD])
REFERENCES [ref].[OPERATION_METHOD] ([ID])
GO
ALTER TABLE [ref].[OPERATION_METHOD_OTF] CHECK CONSTRAINT [FK_OPERATION_METHOD_OTF_OPERATION_METHOD_ID_OPERATION_METHOD]
GO
ALTER TABLE [ref].[OPERATION_METHOD_OTF]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_METHOD_OTF_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY] FOREIGN KEY([ID_OPERATION_TYPE_FAMILY])
REFERENCES [ref].[OPERATION_TYPE_FAMILY] ([ID])
GO
ALTER TABLE [ref].[OPERATION_METHOD_OTF] CHECK CONSTRAINT [FK_OPERATION_METHOD_OTF_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY]
GO
ALTER TABLE [ref].[OPERATION_TRANSVERSE]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TRANSVERSE_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [user].[USER] ([ID])
GO
ALTER TABLE [ref].[OPERATION_TRANSVERSE] CHECK CONSTRAINT [FK_OPERATION_TRANSVERSE_USER_ID_USER]
GO
ALTER TABLE [ref].[OPERATION_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TYPE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY] FOREIGN KEY([ID_OPERATION_TYPE_FAMILY])
REFERENCES [ref].[OPERATION_TYPE_FAMILY] ([ID])
GO
ALTER TABLE [ref].[OPERATION_TYPE] CHECK CONSTRAINT [FK_OPERATION_TYPE_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY]
GO
ALTER TABLE [ref].[OPERATION_TYPE_FAMILY]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TYPE_FAMILY_ASSET_ID_ASSET] FOREIGN KEY([ID_ASSET])
REFERENCES [ref].[ASSET] ([ID])
GO
ALTER TABLE [ref].[OPERATION_TYPE_FAMILY] CHECK CONSTRAINT [FK_OPERATION_TYPE_FAMILY_ASSET_ID_ASSET]
GO
ALTER TABLE [ref].[OPERATION_TYPE_FAMILY]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_TYPE_FAMILY_MOVEMENT_ID_MOVEMENT] FOREIGN KEY([ID_MOVEMENT])
REFERENCES [ref].[MOVEMENT] ([ID])
GO
ALTER TABLE [ref].[OPERATION_TYPE_FAMILY] CHECK CONSTRAINT [FK_OPERATION_TYPE_FAMILY_MOVEMENT_ID_MOVEMENT]
GO
ALTER TABLE [user].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_GMAP_ADDRESS_ID_GMAP_ADDRESS] FOREIGN KEY([ID_GMAP_ADDRESS])
REFERENCES [gmap].[GMAP_ADDRESS] ([ID])
GO
ALTER TABLE [user].[USER] CHECK CONSTRAINT [FK_USER_GMAP_ADDRESS_ID_GMAP_ADDRESS]
GO
ALTER TABLE [user].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_USER_PREFERENCE_ID_USER_PREFERENCE] FOREIGN KEY([ID_USER_PREFERENCE])
REFERENCES [user].[USER_PREFERENCE] ([ID])
GO
ALTER TABLE [user].[USER] CHECK CONSTRAINT [FK_USER_USER_PREFERENCE_ID_USER_PREFERENCE]
GO
ALTER TABLE [user].[USER_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [ref].[ACCOUNT] ([ID])
GO
ALTER TABLE [user].[USER_ACCOUNT] CHECK CONSTRAINT [FK_USER_ACCOUNT_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [user].[USER_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [user].[USER] ([ID])
GO
ALTER TABLE [user].[USER_ACCOUNT] CHECK CONSTRAINT [FK_USER_ACCOUNT_USER_ID_USER]
GO
ALTER TABLE [user].[USER_CUSTOM_OTF]  WITH CHECK ADD  CONSTRAINT [FK_USER_CUSTOM_OTF_ACCOUNT_ID_ACCOUNT] FOREIGN KEY([ID_ACCOUNT])
REFERENCES [ref].[ACCOUNT] ([ID])
GO
ALTER TABLE [user].[USER_CUSTOM_OTF] CHECK CONSTRAINT [FK_USER_CUSTOM_OTF_ACCOUNT_ID_ACCOUNT]
GO
ALTER TABLE [user].[USER_CUSTOM_OTF]  WITH CHECK ADD  CONSTRAINT [FK_USER_CUSTOM_OTF_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY] FOREIGN KEY([ID_OPERATION_TYPE_FAMILY])
REFERENCES [ref].[OPERATION_TYPE_FAMILY] ([ID])
GO
ALTER TABLE [user].[USER_CUSTOM_OTF] CHECK CONSTRAINT [FK_USER_CUSTOM_OTF_OPERATION_TYPE_FAMILY_ID_OPERATION_TYPE_FAMILY]
GO
ALTER TABLE [user].[USER_CUSTOM_OTF]  WITH CHECK ADD  CONSTRAINT [FK_USER_CUSTOM_OTF_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [user].[USER] ([ID])
GO
ALTER TABLE [user].[USER_CUSTOM_OTF] CHECK CONSTRAINT [FK_USER_CUSTOM_OTF_USER_ID_USER]
GO
ALTER TABLE [user].[USER_MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_USER_MESSAGE_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [user].[USER] ([ID])
GO
ALTER TABLE [user].[USER_MESSAGE] CHECK CONSTRAINT [FK_USER_MESSAGE_USER_ID_USER]
GO
ALTER TABLE [user].[USER_SHORTCUT]  WITH CHECK ADD  CONSTRAINT [FK_USER_SHORTCUT_USER_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [user].[USER] ([ID])
GO
ALTER TABLE [user].[USER_SHORTCUT] CHECK CONSTRAINT [FK_USER_SHORTCUT_USER_ID_USER]
GO
/****** Object:  StoredProcedure [as].[spGetAsChartCategorisationSelect]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [as].[spGetAsChartCategorisationSelect]
  (
		@idAccount	INT,
		@dateMin	DATE,
		@dateMax	DATE,
		@tableRef	nvarchar(20)
  )
  AS
  BEGIN
	
--declare @idAccount		as int;
--declare @dateMin		as Datetime;
--declare @dateMax		as Datetime;
--declare @tableRef		as nvarchar(20);

--set @dateMin='01/10/2016';
--set @dateMax='30/10/2016';
--set @idAccount = 2;
--set @tableRef='OperationType'

DECLARE @sqlCommand nvarchar(500);
DECLARE @tableName nvarchar(50);
DECLARE @idFieldName	nvarchar(50);

	IF @tableRef='OperationMethod'
	BEGIN
		SET @tableName='OPERATION_METHOD'
		SET @idFieldName='ID_OPERATION_METHOD'
	END
	IF @tableRef='OperationTypeFamily'
	BEGIN
		SET @tableName='OPERATION_TYPE_FAMILY'
		SET @idFieldName='ID_OPERATION_TYPE_FAMILY'
	END
	IF @tableRef='OperationType'
	BEGIN
		SET @tableName='OPERATION_TYPE'
		SET @idFieldName='ID_OPERATION_TYPE'
	END

	print @tableName;
				--CAST(ROW_NUMBER() OVER (ORDER BY OP.LABEL) as INT) as Id,
	SELECT @sqlCommand = N'
		SELECT 
			OP.ID as [Id],
			OP.LABEL as [Name],
			SUM(AMOUNT_OPERATION) as [Value]
		FROM [as].ACCOUNT_STATEMENT [AS]
		INNER JOIN Ref.' + QUOTENAME(@tableName) + ' OP 
		ON [AS].' + QUOTENAME(@idFieldName) + '= OP.ID
		WHERE (ID_ACCOUNT=' + cast(@idAccount as nvarchar(20)) + ' OR ' + cast(@idAccount as nvarchar(20)) + ' is NULL)
		AND [as].ID_MOVEMENT=2
		AND DATE_INTEGRATION>= CONVERT(Datetime,''' + CONVERT(VARCHAR(10),@dateMin, 101) + ''', 101)
		AND DATE_INTEGRATION<= CONVERT(Datetime,''' + CONVERT(VARCHAR(10),@dateMax, 101) + ''', 101)
		GROUP BY OP.ID, OP.LABEL
		ORDER BY Value'
	print @sqlCommand;

	EXEC sp_executesql @sqlCommand

END

GO
/****** Object:  StoredProcedure [as].[spGetAsChartEvolutionBrut]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [as].[spGetAsChartEvolutionBrut]
  (
		@idAccount	INT,
		@dateMin	DATE,
		@dateMax	DATE
  )
  AS
  BEGIN
  
--declare @idAccount as int;
--declare @dateMin as Datetime;
--declare @dateMax as Datetime;
--declare @isWithITransfer INT;

--set @dateMin='01/07/2015';
--set @dateMax='31/07/2016';
--set @idAccount = null;

--SELECT 
--	CAST(ROW_NUMBER() OVER (ORDER BY T.[YEAR], T.[MONTH]) as INT) as Id,
--	T.[MONTH] AS [Month],
--	T.[YEAR] AS [Year],
--	COALESCE(AST.AMOUNT_OPERATION_CREDIT,0) AS [Credit],
--	COALESCE(AST.AMOUNT_OPERATION_DEBIT,0) AS [Debit],
--	COALESCE(AST.AMOUNT_OPERATION_BALANCE,0) AS [Balance]
--FROM 
--	(
	SELECT 
		CAST(ROW_NUMBER() OVER (ORDER BY MY.[YEAR], MY.[MONTH]) as INT) as Id,
		MY.[MONTH],
		MY.[YEAR],
		COALESCE(AST.AMOUNT_OPERATION_CREDIT,0) AS [Credit],
		COALESCE(AST.AMOUNT_OPERATION_DEBIT,0) AS [Debit],
		COALESCE(AST.AMOUNT_OPERATION_BALANCE,0) AS [Balance]
	FROM  [gen].V_MONTH_YEAR MY 

	LEFT JOIN
		(
		SELECT 
			FORMAT(MONTH(DATE_INTEGRATION),'00') AS [MONTH],
			YEAR(DATE_INTEGRATION) AS [YEAR],
			SUM(IIF(AMOUNT_OPERATION<0,AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION_DEBIT,
			SUM(IIF(AMOUNT_OPERATION>0,AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION_CREDIT,
			SUM(AMOUNT_OPERATION) AS AMOUNT_OPERATION_BALANCE
		FROM [as].ACCOUNT_STATEMENT 
		WHERE (ID_ACCOUNT=@idAccount OR @idAccount is NULL)
		AND DATE_INTEGRATION >= @dateMin
		AND DATE_INTEGRATION<= @dateMax
		GROUP BY FORMAT(MONTH(DATE_INTEGRATION),'00'),YEAR(DATE_INTEGRATION)
		) AS AST
		ON AST.[MONTH] = MY.[MONTH]
		AND AST.[YEAR] = MY.[YEAR]
		
	WHERE MY.[MONTH]<>'XX' 
	AND CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103) >= @dateMin
	AND EOMONTH(CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103)) <= @dateMax
	--) as T
--GROUP BY ID, MY.[MONTH],MY.[YEAR],AMOUNT_OPERATION_DEBIT,AMOUNT_OPERATION_CREDIT,AMOUNT_OPERATION_BALANCE
	ORDER BY MY.[YEAR],MY.[MONTH]

END

GO
/****** Object:  StoredProcedure [as].[spGetAsChartEvolutionBrut_old]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [as].[spGetAsChartEvolutionBrut_old]
  (
		@idAccount	INT,
		@dateMin	DATE,
		@dateMax	DATE
  )
  AS
  BEGIN
  
--declare @idAccount as int;
--declare @dateMin as Datetime;
--declare @dateMax as Datetime;
--declare @isWithITransfer INT;

--set @dateMin='01/08/2017';
--set @dateMax='31/08/2018';
--set @idAccount = null;

SELECT 
	CAST(ROW_NUMBER() OVER (ORDER BY MY.[YEAR], MY.[MONTH]) as INT) as Id,
	MY.[MONTH] AS [Month],
	MY.[YEAR] AS [Year],
	COALESCE(AST.AMOUNT_OPERATION_CREDIT,0) AS [Credit],
	COALESCE(AST.AMOUNT_OPERATION_DEBIT,0) AS [Debit],
	COALESCE(AST.AMOUNT_OPERATION_BALANCE,0) AS [Balance]
FROM 
	(SELECT * FROM  [gen].V_MONTH_YEAR MY WHERE MY.[MONTH]<>'XX' ) AS MY
LEFT JOIN
	(
	SELECT 
		FORMAT(MONTH(DATE_INTEGRATION),'00') AS [MONTH],
		YEAR(DATE_INTEGRATION) AS [YEAR],
		SUM(IIF(AMOUNT_OPERATION<0,AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION_DEBIT,
		SUM(IIF(AMOUNT_OPERATION>0,AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION_CREDIT,
		SUM(AMOUNT_OPERATION) AS AMOUNT_OPERATION_BALANCE
	FROM [as].ACCOUNT_STATEMENT 
	WHERE (ID_ACCOUNT=@idAccount OR @idAccount is NULL)
	AND DATE_INTEGRATION >= @dateMin
	AND DATE_INTEGRATION<= @dateMax
	GROUP BY FORMAT(MONTH(DATE_INTEGRATION),'00'),YEAR(DATE_INTEGRATION)
	) AS AST
	ON AST.[MONTH] = MY.[MONTH]
	AND AST.[YEAR] = MY.[YEAR]

AND CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103) >= @dateMin
AND EOMONTH(CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103)) <= @dateMax


--GROUP BY ID, MY.[MONTH],MY.[YEAR],AMOUNT_OPERATION_DEBIT,AMOUNT_OPERATION_CREDIT,AMOUNT_OPERATION_BALANCE
ORDER BY MY.[YEAR],MY.[MONTH]

END

GO
/****** Object:  StoredProcedure [as].[spGetAsChartEvolutionCustomOtf]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [as].[spGetAsChartEvolutionCustomOtf]
  (
		@idAccount	INT,
		@idOperationTypeFamily INT,
		@dateMin	DATE,
		@dateMax	DATE
  )
  AS
  BEGIN
  
--declare @idAccount as int;
--declare @dateMin as Datetime;
--declare @dateMax as Datetime;
--declare @idOperationTypeFamily INT;

--set @dateMin='01/08/2017';
--set @dateMax='31/08/2018';
--set @idAccount = null;
--set @idOperationTypeFamily=11

SELECT 
	CAST(ROW_NUMBER() OVER (ORDER BY MY.[YEAR], MY.[MONTH]) as INT) as Id,
	MY.[MONTH] AS [Month],
	MY.[YEAR] AS [Year],
	COALESCE(AMOUNT_OPERATION,0) AS [Amount]
FROM
	(SELECT * FROM  [gen].V_MONTH_YEAR WHERE [MONTH]<>'XX' ) AS MY  
LEFT JOIN
	(
	SELECT 
		FORMAT(MONTH(DATE_INTEGRATION),'00') AS [MONTH],
		YEAR(DATE_INTEGRATION) AS [YEAR],
		SUM(AMOUNT_OPERATION) AS AMOUNT_OPERATION
	FROM [as].ACCOUNT_STATEMENT 
	WHERE (ID_ACCOUNT=@idAccount OR @idAccount is NULL)
	AND DATE_INTEGRATION >= @dateMin
	AND DATE_INTEGRATION<= @dateMax
	AND ID_OPERATION_TYPE_FAMILY = @idOperationTypeFamily
	GROUP BY FORMAT(MONTH(DATE_INTEGRATION),'00'),YEAR(DATE_INTEGRATION)
	) AS AST
	ON AST.[MONTH] = MY.[MONTH]
	AND AST.[YEAR] = MY.[YEAR]
WHERE CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103) >= @dateMin
AND EOMONTH(CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103)) <= @dateMax
ORDER BY MY.[YEAR],MY.[MONTH]

END

GO
/****** Object:  StoredProcedure [as].[spGetAsChartEvolutionNoIntTransfer]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [as].[spGetAsChartEvolutionNoIntTransfer]
  (
		@idAccount	INT,
		@idUserGroup INT,
		@dateMin	DATE,
		@dateMax	DATE
  )
  AS
  BEGIN
  
--declare @idAccount as int;
--declare @idUserGroup as int;
--declare @dateMin as Datetime;
--declare @dateMax as Datetime;


--set @dateMin='01/02/2016';
--set @dateMax='28/02/2017';
--set @idAccount = 2;
--set @idUserGroup = 3;

SELECT 
	CAST(ROW_NUMBER() OVER (ORDER BY MY.[YEAR], MY.[MONTH]) as INT) as Id,
	MY.[MONTH] as [Month],
	MY.[YEAR] as [Year],
	COALESCE(AST.AMOUNT_OPERATION_CREDIT,0) AS [Credit],
	COALESCE(AST.AMOUNT_OPERATION_DEBIT,0) AS [Debit],
	COALESCE(AST.AMOUNT_OPERATION_BALANCE,0) AS [Balance] 
	--AST.AMOUNT_OPERATION_CREDIT AS [Credit],
	--AST.AMOUNT_OPERATION_DEBIT AS [Debit],
	--AST.AMOUNT_OPERATION_BALANCE AS [Balance] 

FROM  [gen].V_MONTH_YEAR MY
LEFT JOIN
	(
	SELECT 
		FORMAT(MONTH(DATE_INTEGRATION),'00') AS [MONTH],
		YEAR(DATE_INTEGRATION) AS [YEAR],
		SUM(IIF(AMOUNT_OPERATION<0,AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION_DEBIT,
		SUM(IIF(AMOUNT_OPERATION>0,AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION_CREDIT,
		SUM(AMOUNT_OPERATION) AS AMOUNT_OPERATION_BALANCE
	FROM [as].ACCOUNT_STATEMENT 
	WHERE (ID_ACCOUNT=@idAccount OR @idAccount is NULL)
	AND DATE_INTEGRATION >= @dateMin
	AND DATE_INTEGRATION<= @dateMax
	AND ID_OPERATION_TYPE_FAMILY<> (SELECT ID FROM ref.OPERATION_TYPE_FAMILY WHERE LABEL='Virement interne' AND ID_USER_GROUP=@idUserGroup)
	GROUP BY FORMAT(MONTH(DATE_INTEGRATION),'00'),YEAR(DATE_INTEGRATION)
	) AS AST
	ON AST.[MONTH] = MY.[MONTH]
	AND AST.[YEAR] = MY.[YEAR]
WHERE MY.[MONTH]<>'XX' 
AND CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103) >= @dateMin
AND EOMONTH(CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103)) <= @dateMax
ORDER BY MY.[YEAR],MY.[MONTH]

END

GO
/****** Object:  StoredProcedure [as].[spGetAsChartEvolutionNoIntTransfer_old]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [as].[spGetAsChartEvolutionNoIntTransfer_old]
  (
		@idAccount	INT,
		@dateMin	DATE,
		@dateMax	DATE
  )
  AS
  BEGIN
  
--declare @idAccount as int;
--declare @dateMin as Datetime;
--declare @dateMax as Datetime;

--set @dateMin='01/08/2017';
--set @dateMax='31/08/2018';
--set @idAccount = null;

SELECT 
	CAST(ROW_NUMBER() OVER (ORDER BY MY.[YEAR], MY.[MONTH]) as INT) as Id,
	MY.[MONTH] AS [Month],
	MY.[YEAR] AS [Year],
	COALESCE(AST.AMOUNT_OPERATION_CREDIT,0) AS [Credit],
	COALESCE(AST.AMOUNT_OPERATION_DEBIT,0) AS [Debit],
	COALESCE(AST.AMOUNT_OPERATION_BALANCE,0) AS [Balance]
FROM  (SELECT * FROM  [gen].V_MONTH_YEAR WHERE [MONTH]<>'XX' ) AS MY 
LEFT JOIN
	(
	SELECT 
		FORMAT(MONTH(DATE_INTEGRATION),'00') AS [MONTH],
		YEAR(DATE_INTEGRATION) AS [YEAR],
		SUM(IIF(AMOUNT_OPERATION<0,AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION_DEBIT,
		SUM(IIF(AMOUNT_OPERATION>0,AMOUNT_OPERATION,0)) AS AMOUNT_OPERATION_CREDIT,
		SUM(AMOUNT_OPERATION) AS AMOUNT_OPERATION_BALANCE
	FROM [as].ACCOUNT_STATEMENT 
	WHERE (ID_ACCOUNT=@idAccount OR @idAccount is NULL)
	AND DATE_INTEGRATION >= @dateMin
	AND DATE_INTEGRATION<= @dateMax
	AND ID_OPERATION_TYPE_FAMILY<>6
	GROUP BY FORMAT(MONTH(DATE_INTEGRATION),'00'),YEAR(DATE_INTEGRATION)
	) AS AST
	ON AST.[MONTH] = MY.[MONTH]
	AND AST.[YEAR] = MY.[YEAR]
WHERE CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103) >= @dateMin
AND EOMONTH(CONVERT(DATETIME,'01/' + MY.[MONTH] + '/' + CONVERT(nvarchar(20),MY.[YEAR]) ,103)) <= @dateMax
--GROUP BY ID, MY.[MONTH],MY.[YEAR],AMOUNT_OPERATION_DEBIT,AMOUNT_OPERATION_CREDIT,AMOUNT_OPERATION_BALANCE
ORDER BY MY.[YEAR],MY.[MONTH]

END

GO
/****** Object:  StoredProcedure [as].[spGetAsInternalTransferCouple]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [as].[spGetAsInternalTransferCouple]
  (
	@idAccountStatement INT,
	@idUserGroup INT
  )
  AS
  BEGIN

--DECLARE @idAccountStatement	INT;
--DECLARE @idUserGroup INT;
--SET @idAccountStatement=5
--SET @idUserGroup=2

	DECLARE @idOperationType INT
	SET @idOperationType = (SELECT ID FROM ref.OPERATION_TYPE
		WHERE LABEL = 'Virement interne' 
		AND ID_USER_GROUP = @idUserGroup)
	print @idOperationType

	SELECT 
		CAST(ROW_NUMBER() OVER (ORDER BY AS1.ID, AS2.ID) as INT) as ID,
		--UPPER(SUBSTRING(AS1.LABEL_OPERATION,LEN(AS1.LABEL_OPERATION) - CHARINDEX(' ',REVERSE(AS1.LABEL_OPERATION))+1,4)) + '' + CAST(ABS(AS1.AMOUNT_OPERATION) as nvarchar(max)) + '' + cast(MONTH(AS1.DATE_INTEGRATION) as nvarchar(max)) + '' + cast(YEAR(AS1.DATE_INTEGRATION) as nvarchar(max)) + '' + cast(DAY(AS1.DATE_INTEGRATION) as nvarchar(max)) AS KEY_VALUE,
		AS1.ID AS ID_1,
		AS2.ID AS ID_2,
		AS1.ID_ACCOUNT,
		AS1.LABEL_AS,
		AS1.DATE_INTEGRATION,
		AS1.AMOUNT_OPERATION
	INTO #INTERNAL_TRANSFER_COUPLE
	FROM [as].[ACCOUNT_STATEMENT] AS1
	INNER JOIN [as].[ACCOUNT_STATEMENT] AS2
	ON 
	--RIGHT(AS1.LABEL_OPERATION,charindex(' ',reverse(AS1.LABEL_OPERATION))-1)=right(AS2.LABEL_OPERATION,charindex(' ',reverse(AS2.LABEL_OPERATION))-1)
	 ABS(AS1.AMOUNT_OPERATION) = ABS(AS2.AMOUNT_OPERATION)
	AND MONTH(AS1.DATE_INTEGRATION) = MONTH(AS2.DATE_INTEGRATION)
	AND YEAR(AS1.DATE_INTEGRATION) = YEAR(AS2.DATE_INTEGRATION)
	AND DAY(AS1.DATE_INTEGRATION) = DAY(AS2.DATE_INTEGRATION)
	AND AS1.ID<>AS2.ID
	 WHERE AS1.ID_OPERATION_TYPE=@idOperationType
	 GROUP BY 	
		AS1.ID,
		AS2.ID,
		AS1.ID_ACCOUNT,
		AS1.LABEL_AS,
		AS1.DATE_INTEGRATION,
		AS1.AMOUNT_OPERATION

  SELECT AST.* 
  FROM #INTERNAL_TRANSFER_COUPLE VITC
  INNER JOIN [as].ACCOUNT_STATEMENT AST
  ON VITC.ID_2 = AST.ID
  WHERE ID_1 = @idAccountStatement

  --DROP TABLE #INTERNAL_TRANSFER_COUPLE
END

GO
/****** Object:  StoredProcedure [as].[spGetAsInternalTransferOrphan]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [as].[spGetAsInternalTransferOrphan]
  (
	@idUserGroup INT
  )
  AS
  BEGIN

--DECLARE @idAccountStatement	INT;
----SET @idAccountStatement=5
--DECLARE @idUserGroup INT;
--SET @idUserGroup=6

	DECLARE @idOperationType INT
	SET @idOperationType = (SELECT ID FROM ref.OPERATION_TYPE
		WHERE CODE='VIRI' --'Virement interne' 
		AND ID_USER_GROUP = @idUserGroup)
	--select @idOperationType

	SELECT 
		CAST(ROW_NUMBER() OVER (ORDER BY AS1.ID, AS2.ID) as INT) as ID,
		AS1.ID AS ID_1,
		AS2.ID AS ID_2,
		AS1.ID_ACCOUNT,
		AS1.LABEL_AS,
		AS1.DATE_INTEGRATION,
		AS1.AMOUNT_OPERATION
	INTO #INTERNAL_TRANSFER_COUPLE
	FROM [as].[ACCOUNT_STATEMENT] AS1
	INNER JOIN [as].[ACCOUNT_STATEMENT] AS2
	ON 
		ABS(AS1.AMOUNT_OPERATION) = ABS(AS2.AMOUNT_OPERATION)
		AND AS1.ID_OPERATION=AS2.ID_OPERATION
		AND MONTH(AS1.DATE_INTEGRATION) = MONTH(AS2.DATE_INTEGRATION)
		AND YEAR(AS1.DATE_INTEGRATION) = YEAR(AS2.DATE_INTEGRATION)
		AND DAY(AS1.DATE_INTEGRATION) = DAY(AS2.DATE_INTEGRATION)
		AND AS1.ID<>AS2.ID
	WHERE AS1.ID_OPERATION_TYPE = COALESCE(@idOperationType,0) -- OR @idOperationType is NULL)
	GROUP BY 	
		AS1.ID,
		AS2.ID,
		AS1.ID_ACCOUNT,
		AS1.LABEL_AS,
		AS1.DATE_INTEGRATION,
		AS1.AMOUNT_OPERATION

	
	SELECT AST.* FROM [as].ACCOUNT_STATEMENT AST
	INNER JOIN ref.OPERATION_TYPE OT
		ON AST.ID_OPERATION_TYPE = OT.ID
	WHERE CODE='VIRI'
	AND ID_USER_GROUP = @idUserGroup
	AND AST.ID NOT IN ( (SELECT ID_1 as ID FROM #INTERNAL_TRANSFER_COUPLE )
	UNION 
	(SELECT ID_2 as ID FROM #INTERNAL_TRANSFER_COUPLE ) )

  --SELECT AST.* 
  --FROM #INTERNAL_TRANSFER_COUPLE VITC
  --INNER JOIN [as].ACCOUNT_STATEMENT AST
  --ON VITC.ID_2 = AST.ID
  --WHERE (ID_1=@idAccountStatement OR @idAccountStatement is NULL) 

  --DROP TABLE #INTERNAL_TRANSFER_COUPLE
END


--select * from #INTERNAL_TRANSFER_COUPLE

--exec sp_executesql N'[as].spGetAsInternalTransferOrphan @idUserGroup
--',N'@idUserGroup int',@idUserGroup=3

--select * from [as].ACCOUNT_STATEMENT where ID_OPERATION_TYPE is null
GO
/****** Object:  StoredProcedure [as].[spGetSolde]    Script Date: 06/09/2023 12:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [as].[spGetSolde]
  (
		@idUser		INT,
		@idAccount	INT,
		@dateStart	DATE,
		@dateEnd	DATE,
		@isWithITransfer INT
  )
  AS
  BEGIN

--DECLARE		@idAccount	INT;
--DECLARE		@dateStart	DATE;
--DECLARE		@dateEnd	DATE;
--DECLARE		@isWithITransfer INT;
--DECLARE		@idUser INT;

--SET @idAccount	=null
--SET @idUser		=3
--SET @dateStart	='01-01-2000'
--SET @dateEnd	='28-02-2019'
--SET @isWithITransfer =0


SELECT 
	UA.ID_ACCOUNT AS IdAccount,
	CAST(round(coalesce(CDT.CREDIT,0),2) as float) AS Credit,
	CAST(round(coalesce(CDT.DEBIT,0),2) as float) AS Debit,
	CAST(round(coalesce(CDT.TOTAL,0),2) as float) AS Total,
	cast(A.START_AMOUNT + round(coalesce(TOTAL.TOTAL,0),2) as float) AS Solde

FROM [user].USER_ACCOUNT UA
INNER JOIN [ref].ACCOUNT A
	ON UA.ID_ACCOUNT = A.ID
LEFT JOIN 
(
	SELECT 
		AST.ID_ACCOUNT,
		SUM(AMOUNT_OPERATION) as TOTAL
	FROM [as].ACCOUNT_STATEMENT AST
	WHERE (ID_ACCOUNT = @idAccount OR @idAccount is NULL)
	AND DATE_INTEGRATION<=@dateEnd
	GROUP BY AST.ID_ACCOUNT
) AS TOTAL
 ON UA.ID_ACCOUNT = TOTAL.ID_ACCOUNT
LEFT JOIN
(
	SELECT	
		ID_ACCOUNT,
		SUM(coalesce(DEBIT,0)) AS DEBIT,
		SUM(coalesce(CREDIT,0)) AS CREDIT,
		SUM(coalesce(DEBIT,0)) + SUM(coalesce(CREDIT,0)) AS TOTAL
	FROM (
	SELECT 
		ID_ACCOUNT,
		CASE WHEN AMOUNT_OPERATION<0 THEN AMOUNT_OPERATION END AS DEBIT,
		CASE WHEN AMOUNT_OPERATION>0 THEN AMOUNT_OPERATION END AS CREDIT
	FROM [as].ACCOUNT_STATEMENT
	WHERE (ID_ACCOUNT = @idAccount OR @idAccount is NULL)
	AND DATE_INTEGRATION >= @dateStart
	AND DATE_INTEGRATION <= @dateEnd
	) AS CDT
	GROUP BY ID_ACCOUNT
) AS CDT
	ON UA.ID_ACCOUNT = CDT.ID_ACCOUNT
WHERE ID_USER=@idUser
AND (UA.ID_ACCOUNT = @idAccount OR @idAccount is NULL)
END
GO
